.logo img{
    margin: 0px 100px;
    width: 50px;
}
.theul{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.theul li{
    margin: 0px 4px;
}
.theul a{
    text-decoration: none;
    color: black;
}
.fircol{
    background: purple;
}
.seccol{
    background: gold;
    width: 250px;
    margin: 0px 100px;
    padding:;
}
.leftline{
    margin: 10px 100px;
    border-left: 2px solid gold;
    padding: 0px 0px 0px 10px;

}
.general{
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
h1{
    text-align: left;
    font-weight: 600;
    color: gold;
}
.major{
    border-style: groove;
    border-width: 5px;
    border-color: purple;
    padding: 10px;
    margin: 10px;
    width: 500px;
}
.sgt{
    margin: 10px;
}
.capt{
    background: purple;
    width: 300px;
 }
button{
    background: orange;
    border-color: black;
    padding: 10px 20px;
}
.lieu{
    color: white;
}
.hull{
    margin: 10px 100px;
}
.col{
    background: #fbf4f6;
    width: 600px;
}
.imgg{
    width: 300px; 
    height: 300px;
}
.suppol{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
img{
    width: 40px;
}
.suppol h4{
    background: gold;
    margin: 20px;
    padding: 20px 20px 20px 10px;
}
.par{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.ig p{
    color: blue;
    /* padding: 20px; */
    margin: 20px;
}
.cop{
    padding: 20px;
}
.wola{
    background: black;
    color: white;
    text-align: center;
}
.wola p{
    padding: 5px;
    font-size: 10px;
}